html,body {
  font-weight: 500;
  margin:0; padding:0;
}
#form {
  overflow-x:hidden;
  padding:2.5% 0;
}
.writing {
  font-size:75%;
  margin:0 2.5%;
  width:90%;
}
#form input[type="date"],
#form input[type="name"],
#form input[type="text"],
#form input[type="url"],
#form input[type="email"],
#form input[type="reset"],
#form input[type="password"],
#form input[type="submit"],
#form textarea,
#form button,
#form select,
#form .radio {
  font-size:1rem;
  border:1px solid;
  border-radius:0.25rem;
  padding:2%;
  margin:1.25% 2.5%;
  width:90%;
}
#form button
{font-size:1.5rem;}
#form textarea {height:20rem;}
#form button,
#form select,
#form input[type="submit"]
{width:95%;}

#list {
  position:relative;
  display:flex;
  flex-direction:column-reverse;
  font-size: 2vw;
  list-style: none;
  padding: 0;
}
#list li {
  position:relative;
  transition:.25s all;
}
#list .item:hover {
  font-size:150%;
  transition:.5s all;
  z-index:0;
}
#list li span,
#list li p {
  position:relative;
  z-index:1;
  pointer-events:none;
}
#list li p {
  font-size:150%;
  margin:1vw 0 0;
}
#list li a {
  position: absolute;
  z-index:0;
  margin:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-indent:-999px;
}
